     /* Adrian Estrada González UO276900 
    Font: arial, sans-serif Colores: (webaim) 
    Foreground : #141414 
    Background : #FFA384 */
    
    /* Especificidad: 011 */
    section[data-state="mapadinamico"] {
      height: 20em;
    }

    /* Especificidad: 011 */
    section[data-state="mapaestatico"] {
      height: 25em;

    }
    /* Especificidad: 012 */
    section[data-state="mapadinamico"] h3 {
      font-size: 1.5em;
      position: absolute;
      top: 2em;
      right: 2em;
      height: 20em;
    }


    /* Especificidad: 001 */
    h3 {
      font-size: 1.5em;
      margin-bottom: 2.5em;
    }

    /* Especificidad: 001 */
    button {
      background-color: #FFA384;
      color: #000000;
    }

    /* Especificidad: 011 */
    button:hover {
      background-color: #FF824A;
      color: #ffffff;
    }
    /* Especificidad: 011 */
    button:disabled {
      background-color: #CCCCCC;
      color: #666666;
      cursor: not-allowed;
    }

    /* Especificidad: 002 */
    section img {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      padding: 2em;
      object-fit: contain;
    }

    /* Especificidad: 001 */
    p {
      margin-bottom: 0.9375em;
    }

    /* Especificidad: 001 */
    a {
      color: #007BFF;
      background-color: #fff;
      text-decoration: none;
    }

    /* Especificidad: 011 */
    section[data-state="svg"] {
      height: 40em;
    }

    /* Especificidad: 001 */
    svg {
      width: 100%;
      height: 300%;
    }

    /* Especificidad: 001 */
    article {
      width: 100%;
      max-width: 100vh;
      height: 70vh;
      position: relative;
      overflow: hidden;
      border-radius: 1em;
    }

    /* Especificidad: 002 */
    article h3 {
      width: 100%;
      margin-bottom: 0.5em;
      font-size: 2em;
    }

    /* Especificidad: 002 */
    article img {
      width: 100%;
      max-width: 100vh;
      height: 60vh;
      position: absolute;
      transition: all 0.5s;
      object-fit: cover;
      border-radius: 0.5em;
    }

    /* Especificidad: 002 */
    article button {
      position: absolute;
      width: 2em;
      height: 2em;
      padding: 0.5em;
      border: none;
      border-radius: 50%;
      z-index: 10;
      cursor: pointer;
      font-size: 1em;
    }

    /* Especificidad: 012 */
    article button:active {
      transform: scale(1.1);
    }

    /* Especificidad: 012 */
    article button[data-action=prev] {
      top: 50%;
      left: 2%;
    }

    /* Especificidad: 012 */
    article button[data-action=next] {
      top: 50%;
      right: 2%;
    }